{% extends 'instructor_templates/base_template.html' %}
{% block page_title %}<h6>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/instructor_home">Home</a></li>
          <li class="breadcrumb-item active">Lesson Plan</li>
        </ol>
    </nav></h6>
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
       <div class="col-md-12">
            <!-- general form elements -->
       <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Add Lesson</h3>
        </div>
              <!-- /.card-header -->
              <!-- form start -->
        <form role="form" action="{% url 'instructor_lesson_plan_save' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-body">
            <div class="row g-3">
              <div class="form-group col-md-4">
                 <label>Instructor Activity</label>
                  {{form.task }}
              </div>

              <div class="form-group col-md-4">
                 <label>Student Activity</label>
                  {{form.st_activity }}
              </div>
              <div class="form-group col-md-4">
                 <label>Methodology</label>
                  {{form.methodology }}
              </div>
              <div class="form-group col-md-4">
                 <label>Required Media</label>
                  {{form.media }}
              </div>

            <div class="form-group col-md-4">
                <label>Time (hrs)</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="lp_time" name="lp_time" >
                    <button type="button" class="btn btn-outline-secondary" onclick="incrementValue('lp_time')">+</button>
                    <button type="button" class="btn btn-outline-secondary" onclick="decrementValue('lp_time')">-</button>
                </div>
            </div>

              <div class="form-group col-md-6">
               {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% endfor %}
                {% endif %}
              </div>
                </div>
          </div>
                <!-- /.card-body -->

          <div class="card-footer text-center">
             <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"title="Save data">Save</button>
             <button type="reset" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"title="Clear data">Clear</button>
          </div>
        </form>
       </div>
            <!-- /.card -->
       </div>
      </div>
    </div>
  </section>

{% endblock main_content %}


{% block custom_js %}
<script>
    $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    })

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

</script>>
<script>
function incrementValue(id) {
    var value = parseInt(document.getElementById(id).value, 10);
    document.getElementById(id).value = isNaN(value) ? 0 : value + 1;
}

function decrementValue(id) {
    var value = parseInt(document.getElementById(id).value, 10);
    document.getElementById(id).value = isNaN(value) ? 0 : Math.max(0, value - 1);
}

</script>

{% endblock custom_js %}