
{% extends 'instructor_templates/base_template.html' %}
{% block page_title %}
Edit Profile

{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
       <div class="col-md-12">
            <!-- general form elements -->
       <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Edit Profile</h3>
        </div>
              <!-- /.card-header -->
              <!-- form start -->
        <form role="form" action="{% url 'instructor_profile_save' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-body">
            <div class="row g-3">

              <div class="form-group col-md-4">
                 <label>User Name</label>
                  <input type="text" class="form-control" name="username", value="{{user.username}}" disabled="disabled">
              </div>
              <div class="form-group col-md-4">
                 <label>Email</label>
                  <input type="text" class="form-control" name="email", value="{{user.email}}" disabled="disabled">
              </div>
              <div class="form-group col-md-4">
                 <label>First Name</label>
                  <input type="text" class="form-control" name="first_name", value="{{user.first_name}}" >
              </div>
              <div class="form-group col-md-4">
                 <label>Last Name</label>
                  <input type="text" class="form-control" name="last_name", value="{{user.last_name}}">
              </div>
              <div class="form-group col-md-4">
                 <label>Password</label>
                  <input type="password" class="form-control" name="password", placeholder="Fill only if you want to change the password">
              </div>






              <div class="form-group col-md-6">
               {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% endfor %}
                {% endif %}
              </div>
                </div>
          </div>
                <!-- /.card-body -->

          <div class="card-footer text-center">
             <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"title="Save data">Save</button>
             <button type="reset" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"title="Clear data">Clear</button>
          </div>
        </form>
       </div>
            <!-- /.card -->
       </div>
      </div>
    </div>
  </section>

{% endblock main_content %}


{% block custom_js %}
<script>
    $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    })

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

        $(document).ready(function(){
        $("#id_c_name").keyup(function(){
            var c_name=$(this).val();

            if(c_name!=""){
                $.ajax({
                    url:'{% url 'check_coursename_exist' %}',
                    type:'POST',
                    data:{c_name:c_name}
                })
                .done(function(response){
                    console.log(response);
                    if(response=="True"){
                        $(".c_name_error").remove();
                        $("<span class='c_name_error' style='padding: 5px;color: red;font-weight: bold;'>Course Name is already existed </span>").insertAfter("#id_c_name");
                    }
                    else{
                        $(".c_name_error").remove();
                        $("<span class='c_name_error' style='padding: 5px;color: green;font-weight: bold;'>Course Name is available</span>").insertAfter("#id_c_name");
                    }
                })
                .fail(function(){
                    console.log("failed");
                })
            }
            else{
                $(".c_name_error").remove();
            }

        });

    });
</script>
{% endblock custom_js %}