{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="{% static 'dist/img/mis_logo.png' %}" alt="Tech Logo" style="opacity: .8">
      <span class="brand-text font-weight-light">MIS Tech</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ user.profile_img.url }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'examiner_profile'%}" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            {% url 'examiner_home' as examiner_home %}
            <a href="{{ examiner_home }}" class="nav-link {% if request.path == examiner_home %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Home
              </p>
            </a>
          </li>

           <li class="nav-item">
             {% url 'examiner_take_attendance' as examiner_take_attendance %}
             <a href="{{examiner_take_attendance}}" class="nav-link {% if request.path == examiner_take_attendance %} active {% endif %}">
              <i class="nav-icon fas fa-video"></i>
              <p>
                FR Take Attendance
              </p>
            </a>
          </li>

           <li class="nav-item">
             {% url 'examiner_view_attendance' as examiner_view_attendance %}
             <a href="{{examiner_view_attendance}}" class="nav-link {% if request.path == examiner_view_attendance %} active {% endif %}">
              <i class="nav-icon fas fa-list"></i>
              <p>
                FR Take Attendance
              </p>
            </a>
          </li>

           <li class="nav-item">
             {% url 'generate_daily_exam_report' as generate_daily_exam_report %}
             <a href="{{generate_daily_exam_report}}" class="nav-link {% if request.path == generate_daily_exam_report %} active {% endif %}">
              <i class="nav-icon fas fa-list"></i>
              <p>
                Daily Exam Attendance Report
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>